@tailwind base;
@tailwind components;
@tailwind utilities;


.divider {
  font-size: 10px;
  display: flex;
  align-items: center;
}

.divider::before,
.divider::after {
  content: "";
  height: 1px;
  background-color: silver;
  flex-grow: 1;
}
